head
		title Yelp Camp
		link(rel='stylesheet', type='text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel='stylesheet',type='text/css',href='/stylesheets/main.css')
body
	.navbar.navbar-default
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/campgrounds') YelpCamp
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						-if(!currentUser){
							li
								a(href='/login') Login
							li
								a(href='/register') Sign Up
						-} else {
							li 
								a(href='#') Welcome Back, #{currentUser.username}

							li
								a(href='/logout') Logout
						-}
						
						