doctype html
html
	include ../partials/header.jade
	.container
		.row
			h1(style='text-align:center;') Edit #{campground.name}
			div(style='width: 30%; margin: 0 auto;')
				form(action='/campgrounds/' + campground._id + '?_method=PUT', method='POST')
					.form-group
						input.form-control(type='text', name='name', placeholder='Name of Camp', value=campground.name)
					
					.form-group
						input.form-control(type='text', name='image', placeholder='Image of Camp', value=campground.image)

					.form-group
						input.form-control(type='text', name='description', placeholder='Description', value=campground.description)
						
					.form-group
						button.btn.btn-large.btn-primary.btn-block(type='submit') Save Changes

				a(href='/campgrounds') Back to Campgrounds

	include ../partials/footer.jade